.quarto-title-block .quarto-title-banner {
  background-size: 300px;
  background-position: left;
  #background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

p {
  text-align: justify;
}
